/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4781923 */
  src: url('//at.alicdn.com/t/c/font_4781923_jinu84981s.woff2?t=1739881819658') format('woff2'),
       url('//at.alicdn.com/t/c/font_4781923_jinu84981s.woff?t=1739881819658') format('woff'),
       url('//at.alicdn.com/t/c/font_4781923_jinu84981s.ttf?t=1739881819658') format('truetype');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: '\e618';
}

.icon-random:before {
  content: '\e7b8';
}

.icon-search:before {
  content: '\e6e4';
}

.icon-console:before {
  content: '\e654';
}

.icon-plane:before {
  content: '\e6a0';
}

.icon-arrow-right:before {
  content: '\ee39';
}

.icon-arrow-right-top:before {
  content: '\e600';
}

.icon-forum:before {
  content: '\e635';
}

.icon-category:before {
  content: '\e602';
}

.icon-message:before {
  content: '\e6eb';
}

.icon-play:before {
  content: '\e608';
}

.icon-view:before {
  content: '\e622';
}

.icon-calendar:before {
  content: '\e61c';
}

.icon-link:before {
  content: '\e71d';
}

.icon-user:before {
  content: '\e669';
}

.icon-more:before {
  content: '\e60c';
}

.icon-favorite:before {
  content: '\e601';
}

.icon-delete:before {
  content: '\e6a7';
}

.icon-sex-man:before {
  content: '\e610';
}

.icon-sex-female:before {
  content: '\e60f';
}

.icon-history:before {
  content: '\ea10';
}

.icon-follow:before {
  content: '\e8bc';
}

.icon-love-empty:before {
  content: '\e603';
}

.icon-love-fill:before {
  content: '\ec8c';
}

.icon-deloperator:before {
  content: '\e612';
}

.icon-comment:before {
  content: '\e9b1';
}

.icon-close:before {
  content: '\e657';
}

.icon-username:before {
  content: '\e689';
}

.icon-password:before {
  content: '\e638';
}

.icon-plus:before {
  content: '\e64d';
}

.icon-dir:before {
  content: '\e609';
}

.icon-description:before {
  content: '\e702';
}

.icon-hot:before {
  content: '\ec7f';
}

.icon-duration:before {
  content: '\e61b';
}

.icon-back:before {
  content: '\e837';
}

.icon-shoMore:before {
  content: '\e762';
}

.icon-releaseTime:before {
  content: '\e644';
}

.icon-hotLabel:before {
  content: '\e68a';
}

.icon-hate-empty:before {
  content: '\e9a3';
}

.icon-hate-fill:before {
  content: '\e9a4';
}