/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4781923 */
  src: url('//at.alicdn.com/t/c/font_4781923_54tudl30ycc.woff2?t=1734454703820') format('woff2'),
       url('//at.alicdn.com/t/c/font_4781923_54tudl30ycc.woff?t=1734454703820') format('woff'),
       url('//at.alicdn.com/t/c/font_4781923_54tudl30ycc.ttf?t=1734454703820') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e618";
}

.icon-random:before {
  content: "\e7b8";
}

.icon-search:before {
  content: "\e6e4";
}

.icon-console:before {
  content: "\e654";
}

.icon-plane:before {
  content: "\e6a0";
}

.icon-arrow-right:before {
  content: "\ee39";
}

.icon-arrow-right-top:before{
  content: "\e600";
}

.icon-forum:before {
  content: "\e635";
}

.icon-category:before {
  content: "\e602";
}

.icon-message:before{
  content: "\e6eb";
}

.icon-play:before {
  content: "\e608";
}

.icon-view:before {
  content: "\e622";
}

.icon-calendar:before{
  content: "\e61c";
}

.icon-link:before{
  content: "\e71d";
}

.icon-user:before{
  content: "\e669";
}

.icon-more:before{
  content: "\e643";
}

.icon-favorite:before{
  content: "\e603";
}

