/* reset.scss */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ul,
ol,
li,
figure,
figcaption,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a list role */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: #090909;
}

html::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 10px;
}

.btn {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid var(--primary-font-color);
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: var(--primary-font-color);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, sans-serif;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  padding: 1rem 2.3rem;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.btn:hover {
  color: var(--secondary-font-color);
  border: 0.125em solid var(--secondary-font-color);
  background-color: var(--tertiary-bg-color);
}

@keyframes slideUp {
  from {
    transform: translateY(1.4rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
