//项目全局变量
// 更浅的中性色（比light还要浅）
$colors-neutral-extra-light: #ffffff;

//中性色
$colors-neutral-light: #fafafa;

// 中性色（中等明度）
$colors-neutral-medium: #e0e0e0;

// 中性深色
$colors-neutral-dark: #a9a9a9;


// 更深的中性色（比dark还要深，但不到黑色）
$colors-neutral-very-dark: #555555;

// 接近黑色的中性色
$colors-neutral-almost-black: #222222;

// 黄色辅色
$colors-accent-yellow-light: #fffacd;   // 浅黄色
$colors-accent-yellow: #ffd700;         // 标准黄色
$colors-accent-yellow-dark: #ffc107;    // 深黄色（接近橙色）
 
// 蓝色辅色
$colors-accent-blue-light: #add8e6;     // 浅蓝色
$colors-accent-blue: #0000ff;           // 标准蓝色
$colors-accent-blue-dark: #00008b;      // 深蓝色
 
// 橙色辅色
$colors-accent-orange-light: #fff5ee;   // 浅橙色（接近粉色）
$colors-accent-orange: #ffa500;         // 标准橙色
$colors-accent-orange-dark: #ff4500;    // 深橙色（接近红色）
